
.netList {
    /*border: 1px solid red;*/
}

.netPanel {

    /*border: 1px solid blue;*/

}

.procList {
    display: block;
    /*column-width: 200px;*/        /* or column-count: 3 */
    column-count: 5;
    column-gap: 2px;    
}

.procPanel {
    padding: 5px 5px;
    break-inside: avoid;
    margin-bottom: 2px;
    border: 1px solid lightcyan;
}

 
.varListPanel {
    border: 1px solid black;

    display: flex;
    flex-direction: column;    
    overflow-y: hidden;
    width: 100%;
}


.varPanel .uiRow {
    height: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid lightcyan;
}

.varLabel {
    background-color: LightBlue !important;
}

.widgetList {
}


.uiList {
    height: 100%;
}



/* Custom layout for the event_trig_ctl proc. */
.event_trig_ctl {
  display: grid;
  grid-template-columns: 100px 40px 70px;    /* define the width of every 3rd child of .event_trig_ctl */
  place-items: center;                       /* center the items in the grid horz. and vert. */  
}

.event_trig_ctl .etc_status_col {
    width:70px;
}

.etc_status_col .uiStatus {
    place-items: center;
    width:60px;
    padding: 0px 0px;
}


