
.netList {
    /*border: 1px solid red;*/
}

.netPanel {

    /*border: 1px solid blue;*/

}

.procList {
    display: block;
    column-width: 200px;        /* or column-count: 3 */
    column-count: 5;
    column-gap: 2px;    
}

.procPanel {
    padding: 10px 10px;
    break-inside: avoid;
    margin-bottom: 2px;
    border: 1px solid lightcyan;
}

 
.varListPanel {
    border: 1px solid black;

    display: flex;
    flex-direction: column;
    overflow-y: hidden;          
}


.varPanel .uiRow {
    height: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid lightcyan;
}

.varLabel {
    background-color: LightBlue !important;
}

.widgetList {
}


.uiList {
    height: 100%;
}
