
.netList {
    border: 1px solid red;
}

.netPanel {

    border: 1px solid blue;

}

.procPanel {
    border: 1px solid Blue;
    padding: 10px 10px;
}

.chanPanel {
    border: 1px solid Yellow;

    /*height: 100px;*/ 
    overflow-x: hidden; /* 'hidden' to remove horz scroll bar */
    overflow-y: auto; 
    
}

.chanList {
    display: flex;
    flex-direction: row;
}
    

 
.varList {
     display: flex;
     flex-direction: column;
     overflow-y: hidden;          
}

.varList > div {
    padding-top: 3px;
	    
}

.varPanel {
    height: 20px;
}


.uiList {
    height: 100%;
}
